<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Camera</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/holistic@0.5/holistic.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"></script>
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<body>

  <div class="video-container">
    <video class="input_video" autoplay muted playsinline></video>
    <canvas class="output_canvas"></canvas>
  </div>

  <div class="controls">
    <button id="start">Start</button>
    <button id="stop">Stop</button>
    <label><input type="checkbox" id="toggle-landmarks"/> Show Landmarks</label>
    <div id="result">Prediction: None</div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
